<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="icon" href="/static/icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <aside class="menu-lateral">

    <div class="hamburguer">
        <a href="/">
            <img src="/static/logo-hackathon.png"
                 alt="Logo Hackathon"
                 class="logo-hackathon">
        </a>
    </div>

</aside>
    <br><br>
    <main class="pagina-confirmacao">
        <h1>Ops! algo não está certo...</h1>
        <p><i>error:</i> {{ mensagem }}</p>
        <br>
        <div class="gif-hackathon">
        <img
    src="https://media.tenor.com/uBcbvnuP3K0AAAAM/lil-yachty-drake.gif"
    alt="Drake n Lil Yachty"
    class="gif-hackathon"
>
        </div>
        <br><br>
        <a href="{{ link_voltar or '/' }}" class="botao-inscrever">
    Voltar à  página anterior
</a>
    </main>
    <script>
      document.documentElement.style.overflow = 'hidden';
      document.body.style.overflow = 'hidden';
    </script>
</body>
</html>
