<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro na inscrição - Hackathon IFPR Pinhais</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <aside class="menu-lateral">

    <div class="hamburguer">
        <a href="/">
            <img src="/static/logo-hackathon.png"
                 alt="Logo Hackathon"
                 class="logo-hackathon">
        </a>
    </div>

</aside>
    <main class="pagina-confirmacao">
        <h1>⚠️ Ops, algo não está certo</h1>
        <p>{{ mensagem }}</p>
        <a href="{{ link_voltar or '/' }}" class="botao-inscrever">
    Voltar ao formulário
</a>
    </main>
</body>
</html>
