<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hackathon IFPR Pinhais</title>

    <link rel="stylesheet" href="/static/style.css">
</head>


<body class="pagina-home">

    <!-- BARRA LATERAL -->

    <aside class="menu-lateral">

       <div class="hamburguer">
    <a href="/">
        <img src="/static/logo-hackathon.png"
             alt="Logo Hackathon"
             class="logo-hackathon">
    </a>
</div>
    </aside>


    <!-- CONTEÚDO PRINCIPAL -->

    <main class="conteudo-home">


        <!-- TÍTULO -->

        <div class="titulo-home">
    <img src="/static/logo_hackathon_amarela.png"
         alt="Hackathon IFPR Pinhais"
         class="logo-home">
</div>


        <!-- ÁREAS PRINCIPAIS -->

        <section class="areas-home">

    <!-- INSCRIÇÕES -->

<div class="card-home">

    <div class="icone-home icone-inscricao">
    <i data-lucide="file-pen-line"></i>
</div>

    <a href="/inscricao" class="botao-home">
        Inscrições
    </a>

</div>
            <!-- ÁREA DE EQUIPES -->

            <div class="card-home">
                <div class="icone-home icone-equipe">
                    <i data-lucide="users"></i>
                </div>
                <a href="/equipe/login" class="botao-home">
                     Área de Equipes
                </a>
            </div>


            <!-- PAINEL DE RESULTADOS -->

            <div class="card-home">

               <div class="icone-home icone-resultados">
    <i data-lucide="chart-no-axes-column-increasing"></i>
</div>
                <a href="/resultados" class="botao-home">
                    Resultados
                </a>

            </div>


            <!-- ÁREA DA BANCA -->

            <div class="card-home">

               <div class="icone-home icone-banca">
    <i data-lucide="gavel"></i>
</div>

                <a href="/jurado/login" class="botao-home">
                    Área da Banca
                </a>

            </div>

        </section>



        <!-- CRONOGRAMA -->
<div class="separador-cronograma">
    <span></span>
    <h2>Cronograma</h2>
    <span></span>
</div>
        <section class="cronograma-home">


            <!-- LINHA CENTRAL -->

            <div class="linha-tempo">
                <div class="progresso-timeline"></div>
                <span class="ponto ponto-1"></span>

                <span class="ponto ponto-2"></span>

                <span class="ponto ponto-3"></span>

                <span class="ponto ponto-4"></span>

                <span class="ponto ponto-5"></span>

            </div>

<div class="evento evento-esquerda evento-1">
    <div class="texto-evento">
        <strong>Inscrições</strong>
        <span>{{ cronograma.inscricoes }}</span>
    </div>
    <div class="icone-evento"><i data-lucide="clipboard-pen"></i></div>
</div>

<div class="evento evento-direita evento-2">
    <div class="icone-evento"><i data-lucide="circle-check"></i></div>
    <div class="texto-evento">
        <strong>Validação</strong>
        <span>{{ cronograma.validacao }}</span>
    </div>
</div>

<div class="evento evento-esquerda evento-3">
    <div class="texto-evento">
        <strong>Upload dos<br>projetos</strong>
        <span>{{ cronograma.upload }}</span>
    </div>
    <div class="icone-evento"><i data-lucide="upload"></i></div>
</div>

<div class="evento evento-direita evento-4">
    <div class="icone-evento"><i data-lucide="clipboard-check"></i></div>
    <div class="texto-evento">
        <strong>Avaliações<br>da Banca</strong>
        <span>{{ cronograma.avaliacao }}</span>
    </div>
</div>

<div class="evento evento-esquerda evento-5">
    <div class="texto-evento">
        <strong>Resultados</strong>
        <span>{{ cronograma.resultados }}</span>
    </div>
    <div class="icone-evento"><i data-lucide="trophy"></i></div>
</div>


        </section>

    </main>
<script src="https://unpkg.com/lucide@latest"></script>
<script>
    lucide.createIcons();

    const progresso = document.querySelector(".progresso-timeline");
    const pontos = document.querySelectorAll(".ponto");

    const alturas = [0, 120, 240, 360, 500];

    const hoje = new Date();

    const datas = [
        new Date(2026, 8, 23),
        new Date(2026, 8, 26),
        new Date(2026, 8, 30),
        new Date(2026, 9, 5),
        new Date(2026, 9, 15)
    ];

    let etapaAtual = 2;

 /*   datas.forEach((data, index) => {
        if (hoje >= data) {
            etapaAtual = index;
        }
    });
    */
    setTimeout(() => {
        progresso.style.height = alturas[etapaAtual] + "px";
    }, 300);

    pontos.forEach((ponto, index) => {
        if (index <= etapaAtual) {
            setTimeout(() => {
                ponto.classList.add("ativo");
            }, 300 + index * 250);
        }
    });
</script>
</body>

</html>
