<form method="post" action="/inscricao">
    <label>Nome da equipe: <input name="team_name" required></label><br>
    <label>Email do líder: <input name="leader_email" type="email" required></label><br>
    <label>Nomes dos integrantes da equipe: (mínimo 3!)</label><br>
    <label>Integrante 1: <input name="member_names" required></label><br>
    <label>Integrante 2: <input name="member_names" required></label><br>
    <label>Integrante 3: <input name="member_names" required></label><br>
    <label>Integrante 4: <input name="member_names"></label><br>
    <label>Integrante 5: <input name="member_names"></label><br>
    <button type="submit">Inscrever equipe</button>
</form>
