<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="icon" href="/static/icon.png" type="image/png">
    <meta charset="UTF-8">
    <title>Link enviado</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <aside class="menu-lateral">

    <div class="hamburguer">
        <a href="/">
            <img src="/static/logo-hackathon.png"
                 alt="Logo Hackathon"
                 class="logo-hackathon">
        </a>
    </div>

</aside>
    <main class="pagina-confirmacao">
        <h1>Verifique seu e-mail</h1>
        <br><br>
        <p>Se o e-mail informado estiver cadastrado como jurado, você receberá um link de acesso em instantes.</p>
        <br><br>
        			<div class="gif-hackathon">
			<img
    src="https://media.tenor.com/eCjZXON61z8AAAAM/muppet-gru%C3%B1ones.gif"
    alt="computer kid"
    class="gif-hackathon"
>
			</div>
        <a href="/" class="botao-inscrever">Voltar à página inicial</a>
    </main>
</body>
</html>
