<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="icon" href="/static/icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição recebida - Hackathon IFPR Pinhais</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <aside class="menu-lateral">
    <div class="hamburguer">
        <a href="/">
            <img src="/static/logo-hackathon.png"
                 alt="Logo Hackathon"
                 class="logo-hackathon">
        </a>
    </div>
</aside>
    <main class="pagina-confirmacao">
        <h1>Quase lá, {{ team_name }}!</h1>
        <p class="subtitulo">{ Hackathon IFPR Pinhais }</p>

        <p>
            Sua equipe foi cadastrada com sucesso.
            <br>
            Enviamos um link de confirmação para <strong>{{ leader_email }}</strong>.
        </p>
            <div class="gif-hackathon">
 <img
    src="https://media.tenor.com/8S_CuT8s2_oAAAAM/bruce-almighty-comedy.gif"
    alt="bruce typing"
    class="gif-hackathon"
>
            </div>
        <!--<br><br>
        <p>
            Verifique sua caixa de entrada (e a pasta de spam, por
            garantia) e clique no link para confirmar seu e-mail e
            conectar sua conta do GitHub.
        </p>-->

        <a href="/" class="botao-inscrever">
            Voltar à página inicial
        </a>
    </main>
<script>
  document.documentElement.style.overflow = 'hidden';
  document.body.style.overflow = 'hidden';
</script>
</body>
</html>
